.navbar-default .navbar-nav > li > a {
    color: #0d9fb7;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #128da1;
}

#header {
    background: #f8f8f8;
}
.logo {
    border-right: 0;
    padding: 36px 15px 18px 0;
}
.logo img {
    width: 90%;
    margin-top: -15% !important;
}
.side-list.gallery-side-list.horizontal-list li {
    width: 20%;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
}
li.affiliated-item a img {
    width: auto;
}
a.follow-us-btn {
    background: #3b5998;
    color: #fff;
    padding: 4px;
    display: block;
    max-width: 213px;
    margin-top: 13px;
    border-radius: 4px;
    text-align: center;
}
a.follow-us-btn:hover {
    background: #213661;
}
a.follow-us-btn span.icon-facebook {
    float: none;
}
.des p {
    color: #333;
}
.dropdown-menu {
    background-color: #F8F8F8;
    border: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.fixed-position .dropdown.has-mega-dropdown .dropdown-menu {
    top: 87% !important;
}
.dropdown-menu ul {
    padding: 0;
}
.dropdown-menu .title {
    padding: 10px 18px;
}
.dropdown-menu > ul > li > a:hover {
    padding-left: 15px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #202020;
    color: #0d9fb7;
}
.default-page #header.white-header.fixed-position .navbar-default .navbar-nav > li > a, #header.white-header.fixed-position .navbar-default .navbar-nav > li > a {
    color: #0d9fb7;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
    text-transform: capitalize;
}
#header {
    border-bottom: 1px solid #e2e2e2;
}
.booking-form-wrap {
    background: #fff;
    padding: 40px;
}
.bg-form {
    background: #E1E0DF;
}
.common-spacing {
    padding-top: 0;
}
.content-holder {
    margin-bottom: 50px;
}
.img-wrap img {
    width: 100%;
}
.fixed-position {
    width: 100%;
    top: 0 !important;
    position: fixed !important;
}
.header-top {
    position: static !important;
}
.content-block {
    padding: 50px 0 20px 0;
}
@media(max-width: 768px) {
    .container.head-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .logo img {
        width: 68%;
    }
    .des p {
        color: #fff;
    }
    .dropdown-menu .title {
        padding: 10px 0px;
    }
    .dropdown-menu ul {
        padding: 20px 37px;
    }
    .grid-view-sidebar .container {
        position: relative;
        padding-top: 0;
        max-width: 500px;
    }
    .same-height {
        padding-top: 0 !important;
    }
    .btn-holder {
        float: none !important;
    }
    .printable {
        display: none;
    }
    .fixed {
        top: 0 !important;
    }
    .scrollnav a {
        font-size: 9px !important;
    }
    header.content-heading {
        margin-top: 0px !important;
    }
    .fixed-position {
        position: inherit !important;
    }
}

.home-slide1 .article{
    margin: 0 !important;
    padding: 0 !important;
}
